.footer {
    display: flex;

    .bar {
        background-color: $background;
        align-items: center;
        top: auto;
        bottom: 0;
    }

    .burger-menu {
        color: $white;
    }

    .title {
        margin-left: 1vw;
    }
}