a {
    text-decoration: none;

    &:link {
        color: $secondary;
    }

    &:visited {
        color: $secondary-light;
    }

    &:hover {
        color: $secondary-dark;
    }

    &:active {
        color: $secondary-dark;
    }
}