// default colors
$white: #ffffff;
$black: #000000;

// default colors for the background
$background-light: #6d6d6d;
$background: #424242;
$background-dark: #1b1b1b;

// default primary colors
$primary-light: #7985cb;
$primary: #3f51b5;
$primary-dark: #303f9f;

// default secondary colors
$secondary-light: #ff4081;
$secondary: #f50057;
$secondary-dark: #c51162;

// media breakpoints
$small: 600px;
$medium: 960px;
$large: 1280px;
$xlarge: 1920px;